@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #2b2a27;
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
}

/* 元サイズからブラウザ幅いっぱいに指定 */
img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    color: #2b2a27;
}

#header h1 {
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 40px;
}

/* object-fitで縦横比を保持して画像を指定のサイズにトリミング */
#header img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
    margin-bottom: 40px;
}

.list {
    margin: 20px 80px 40px 80px;
}

.ryouri {
    display: flex;
}

.ryouri a {
    text-decoration: none;
}

.ryouri li {
    margin: 20px 30px;
}

.list img {
    width: 100%;
    height: 400px;
    padding: 10px 40px;
    object-fit: cover;
    object-position: center;
}

.list h2 {
    font-size: 1.0rem;
    text-align: center;
}

.text {
    text-align: center;
    margin-bottom: 60px;
}

/* text-decorationでaタグのアンダーバーを消去 */
.button {
    display: inline-block;
    padding: 18px 60px;
    border: solid 1px #2b2a27;
    font-size: 0.9rem;
    text-decoration: none;
}

#footer {
    text-align: center;
    font-size: 0.75rem;
    padding: 20px;
}

#footer .link {
    margin-bottom: 20px;
}

#footer .link a {
    margin: 0 9px

}

/* レスポンシブ対応 */

@media screen and (max-width: 1000px) {
    .ryouri {
        display: block;
    }

    .list img {
        object-position: center bottom;
    }

    .ryouri li {
        margin-bottom: 40px;
    }
}